/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-weight: normal;
}
html{
    color: #3c4157;
    background-color: white;
    background-image: url('/bgr.jpg');
    font-family: "Monaco", monospace;
    height: 100%;
    background-attachment: fixed;
    background-size: 100%;
}
a {
    text-decoration: none;
}
h1{
    padding: 15px;
    background-color: rgba(255,255,255, 0.8);
    border-bottom: 5px solid  rgba(242, 235, 237, 1);

    display: table;
    font-size: 60px;
    font-weight: bolder;
    margin: 10px auto 0 auto;
}

.topnav{
    background-color: rgba(201, 111, 119, 0.9);
    text-align: right;
    padding: 10px;
}
.topnav a{
    text-decoration: none;
    color: #ffe6f3;
    padding: 15px;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
}

.topnav a:hover{

    color: #f5afb7;
    transition: 1s;
    padding-top: 10px;
    padding-bottom: 10px;

}
.text{
    text-align: left;
    width: 40%;
    margin: 0 auto 0 auto;
    font-size: 20px;
}
img{
    height: 95%;
    object-fit: scale-down;
    border: 10px solid rgba(255,255,255, 0.8);
    border-radius: 3px;
}

.box{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 3px;
    text-align: left;
    display: table;
    padding: 15px;
    margin: 125px auto 0 auto;
    font-size: 30px;
    width: 85%;
}

.container {
    display: flex;

}

.column {
    flex: 1;
    margin-top: 30px;
    text-align: center;
}

.column:first-child {
    margin-right: 20px;
}
.title{
    font-size: 60px;
    font-weight: bolder;
    background-color: rgba(255,255,255, 0.8);
    border-bottom: 5px solid  rgba(242, 235, 237, 1);
    border-radius: 3px;
    display: inline;
    margin: 90px -40px 0 0;
    padding: 10px 20px 10px 20px;

}
#copyright{
    padding-bottom: 10px;
    font-size: 15px;

}

footer a{
    color: #3c4157;
    margin-left: 20px;
    margin-top:60px;
    font-size: 25px;
}
footer{
    background-color:  rgba(242, 235, 237, 1);
    position: fixed;
    left: 0;
    width: 100%;
    bottom:0;
    display: table;
    padding: 18px;
    height: 50px;
    text-align: center;

}
footer a:hover{
    color: #222639;
    transition: 0.5s;
}